<div class="panel-container">
  <form [formGroup]="manageProjectsForm" (ngSubmit)="saveProject()">
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputProjectName">Project Name</label>
        <input type="text" class="form-control" [ngClass]="manageProjectsForm.get('projectName').invalid && (manageProjectsForm.get('projectName').dirty || manageProjectsForm.get('projectName').touched) && manageProjectsForm.controls['projectName'].errors ? 'is-invalid' : ''"
               id="inputProjectName" placeholder="Project Name" formControlName="projectName">
        <div class="invalid-feedback" *ngIf="manageProjectsForm.get('projectName').invalid && (manageProjectsForm.get('projectName').dirty || manageProjectsForm.get('projectName').touched)">
          <span *ngIf="manageProjectsForm.controls['projectName'].hasError('required')">This field is required</span>
          <span *ngIf="manageProjectsForm.controls['projectName'].hasError('maxlength')">Max length of this field is 50 characters</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputProjectAlias">Project Alias</label>
        <input type="text" class="form-control" [ngClass]="manageProjectsForm.get('projectAlias').invalid && (manageProjectsForm.get('projectAlias').dirty || manageProjectsForm.get('projectAlias').touched) && manageProjectsForm.controls['projectAlias'].errors ? 'is-invalid' : ''"
               id="inputProjectAlias" placeholder="Project Alias" formControlName="projectAlias">
        <div class="invalid-feedback" *ngIf="manageProjectsForm.get('projectAlias').invalid && (manageProjectsForm.get('projectAlias').dirty || manageProjectsForm.get('projectAlias').touched)">
          <span *ngIf="manageProjectsForm.controls['projectAlias'].hasError('required')">This field is required</span>
          <span *ngIf="manageProjectsForm.controls['projectAlias'].hasError('maxlength')">Max length of this field is 10 characters</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputCompanyName">Company Name</label>
        <input type="text" class="form-control" [ngClass]="manageProjectsForm.get('companyName').invalid && (manageProjectsForm.get('companyName').dirty || manageProjectsForm.get('companyName').touched) && manageProjectsForm.controls['companyName'].errors ? 'is-invalid' : ''"
               id="inputCompanyName" placeholder="Company Name" formControlName="companyName">
        <div class="invalid-feedback" *ngIf="manageProjectsForm.get('companyName').invalid && (manageProjectsForm.get('companyName').dirty || manageProjectsForm.get('companyName').touched)">
          <span *ngIf="manageProjectsForm.controls['companyName'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputCompanyAddress">Company Address</label>
        <input type="text" class="form-control" [ngClass]="manageProjectsForm.get('companyAddress').invalid && (manageProjectsForm.get('companyAddress').dirty || manageProjectsForm.get('companyAddress').touched) && manageProjectsForm.controls['companyAddress'].errors ? 'is-invalid' : ''"
               id="inputCompanyAddress" placeholder="Company Address" formControlName="companyAddress">
        <div class="invalid-feedback" *ngIf="manageProjectsForm.get('companyAddress').invalid && (manageProjectsForm.get('companyAddress').dirty || manageProjectsForm.get('companyAddress').touched)">
          <span *ngIf="manageProjectsForm.controls['companyAddress'].hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" [ngClass]="manageProjectsForm.get('city').invalid && (manageProjectsForm.get('city').dirty || manageProjectsForm.get('city').touched) && manageProjectsForm.controls['city'].errors ? 'is-invalid' : ''"
               id="inputCity" placeholder="City" formControlName="city">
        <div class="invalid-feedback" *ngIf="manageProjectsForm.get('city').invalid && (manageProjectsForm.get('city').dirty || manageProjectsForm.get('city').touched)">
          <span *ngIf="manageProjectsForm.controls['city'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-4 mb-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" [ngClass]="manageProjectsForm.get('state').invalid && (manageProjectsForm.get('state').dirty || manageProjectsForm.get('state').touched) && manageProjectsForm.controls['state'].errors ? 'is-invalid' : ''"
                formControlName="state">
          <option>Lisboa</option>
          <option>Amadora</option>
          <option>Mafra</option>
        </select>
        <div class="invalid-feedback" *ngIf="manageProjectsForm.get('state').invalid && (manageProjectsForm.get('state').dirty || manageProjectsForm.get('state').touched)">
          <span *ngIf="manageProjectsForm.controls['state'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-2 mb-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" [ngClass]="manageProjectsForm.get('zip').invalid && (manageProjectsForm.get('zip').dirty || manageProjectsForm.get('zip').touched) && manageProjectsForm.controls['zip'].errors ? 'is-invalid' : ''"
               id="inputZip" placeholder="XXXX-ZZZ" formControlName="zip">
        <div class="invalid-feedback" *ngIf="manageProjectsForm.get('zip').invalid && (manageProjectsForm.get('zip').dirty || manageProjectsForm.get('zip').touched)">
          <span *ngIf="manageProjectsForm.controls['zip'].hasError('required')">This field is required</span>
          <span *ngIf="manageProjectsForm.controls['zip'].hasError('maxlength')">Max length of this field is 8 characters</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="personnelProjectCheckBox" formControlName="personnelProject">
        <label class="form-check-label" for="personnelProjectCheckBox">
          Personnel Project
        </label>
      </div>
    </div>
    <hr>
    <h4 id="project-team-members-heading">
      <span>Team Members</span>
      <button type="button" id="new-team-member-btn" class="btn btn-primary float-right" (click)="addProjectTeamMember()">
        <i class="fa fa-plus"></i>
        <span>
          Add new project team member
        </span>
      </button>
    </h4>
    <br/>
    <div class="table-responsive" *ngIf="projectTeamControls.length > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><span>ID</span></th>
            <th><span>Specialization</span></th>
            <th><span>Name</span></th>
            <th><span>Start Date</span></th>
            <th><span>End Date</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let productTeam of projectTeamControls; index as i;" formArrayName="projectTeam">
          <ng-container [formGroupName]="i">
            <td>{{productTeam.get('id').value}}</td>
            <td>
              <select class="form-control" name="specialization-{{i}}" id="specialization-{{i}}" formControlName="specialization">
                <option value="PM">Project Manager</option>
                <option value="TECH_ARCH">Technical Architect</option>
                <option value="DEVOPS">DevOps</option>
                <option value="SD">Senior Developer</option>
                <option value="D">Developer</option>
                <option value="TM">Test Manager</option>
                <option value="T">Tester</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control" name="name-{{i}}" id="name-{{i}}" formControlName="name"/>
            </td>
            <td>
              <input type="date" class="form-control" name="startDate-{{i}}" id="startDate-{{i}}" formControlName="startDate"/>
            </td>
            <td>
              <input type="date" class="form-control" name="endDate-{{i}}" id="endDate-{{i}}" formControlName="endDate"/>
            </td>
            <td class="text-right">
              <div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteProjectTeamMember(i)">
                  <i class="fa fa-times"></i>
                  <span class="d-none d-md-inline"> Delete</span>
                </button>
              </div>
            </td>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div>
      <button type="button" id="cancel-save" class="btn btn-secondary margin-right-10" (click)="previousState()">
        <i class="fa fa-ban"></i><span>Cancel</span>
      </button>
      <button type="submit" id="save-entity" [disabled]="manageProjectsForm.invalid || isSaving" class="btn btn-primary">
        <i class="fa fa-save"></i><span>Save</span>
      </button>
    </div>
  </form>
</div>
