<div class="panel-container">
  <h2>
    <span>Manage Projects</span>

    <button id="create-entity" class="btn btn-primary float-right" [routerLink]="['new']">
      <i class="fa fa-plus"></i>
      <span>Create a Project</span>
    </button>
  </h2>

  <div class="alert alert-warning" id="no-result" *ngIf="projects?.length === 0">
    <span>No projects found</span>
  </div>

  <div class="table-responsive" id="projectsTable" *ngIf="projects?.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col" ><span>ID</span></th>
          <th scope="col" ><span>Project Name</span></th>
          <th scope="col" ><span>Project Alias</span></th>
          <th scope="col" ><span>Company Name</span></th>
          <th scope="col" ><span>City</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects ;trackBy: trackId">
          <td><a [routerLink]="[project.id, 'view']">{{ project.id }}</a></td>
          <td>{{ project.projectName }}</td>
          <td>{{ project.projectAlias }}</td>
          <td>{{ project.companyName }}</td>
          <td>{{ project.city }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="[project.id, 'view']" class="btn btn-info btn-sm">
                <i class="fa fa-eye"></i>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="[project.id, 'edit']" class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(project)" class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
