<div class="panel-container">

  <div class="container">
    <h2>
      <span>Contacts</span>
    </h2>
    <hr>

    <div class="row pt-2">


      <div class="col-lg-4 col-sm-12 " id="contact2">
        <h3><b>Universidade Lusófona</b></h3>
        <hr align="left" width="50%">
        <h4 class="pt-2">Campus</h4>
        <a href="https://goo.gl/maps/nn6893ZpVBpwPyEU8" target="_blank"><i class="fa fa-globe" style="color:#000"></i> Campo Grande, 376 <br>
        1749-024 Lisboa - Portugal<br></a>
        <h4 class="pt-2">tel</h4>
        <i class="fa fa-phone" style="color:#000"></i> <a href="tel:+"> 217 515 500 </a><br>
        <i class="fa fa-whatsapp" style="color:#000"></i><a href="tel:+"> 963 640 100 </a><br>
        <h4 class="pt-2">Email</h4>
        <i class="fa fa-envelope" style="color:#000"></i> <a href="mailto:info@ulusofona.pt">info@ulusofona.pt</a><br>
        <h4 class="pt-2">Chat???</h4>
        <i class="fa fa-facebook-square" aria-hidden="true"></i> <a href="https://m.me/u.lusofona" target="_blank">Facebook Messenger</a>
      </div>

      <div class="col-lg-8 col-sm-12 pt-sm-3">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.26219128401!2d-9.155935684891094!3d38.7576899795924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1933f91a793727%3A0xe625d149b5312bcf!2sLusofona!5e0!3m2!1spt-PT!2spt!4v1593911594393!5m2!1spt-PT!2spt"
          width="100%" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
    </div>
  </div>
</div>
