<div class="panel-container">
  <form [formGroup]="manageAcadStudForm" (ngSubmit)="saveProject()">
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputFormation">Formation</label>
        <input type="text" class="form-control" id="inputFormation" formControlName="formation" placeholder="Formation"
               [ngClass]="isControlInvalid('formation') ? 'is-invalid' : '' ">
        <div class="invalid-feedback" *ngIf="isControlInvalidAndHasError('formation', 'required')">
          This field is required
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3 mb-3">
        <label for="inputEducationalInstitution">Educational Institution</label>
        <div class="input-group">
          <input type="text" class="form-control" id="inputEducationalInstitution" formControlName="educationalInstitution"
                 placeholder="Educational Institution"
                 [ngClass]="isControlInvalid('educationalInstitution') ? 'is-invalid' : '' ">
          <div class="invalid-feedback" *ngIf="isControlInvalidAndHasError('educationalInstitution', 'required')">
            This field is required
          </div>
        </div>
      </div>
      <div class="form-group col-md-3 mb-3">
        <label for="inputGrade">Grade</label>
        <div class="input-group">
          <input type="number" class="form-control" id="inputGrade" formControlName="grade"
                 placeholder="Grade (0-20)"
                 [ngClass]="isControlInvalid('grade') ? 'is-invalid' : '' ">
          <div class="invalid-feedback" *ngIf="isControlInvalidAndHasError('grade', 'required')">
            This field needs a number
          </div>
        </div>
      </div>
    </div>
    <hr>
    <br/>
    <div class="row margin-top-10">
      <div class="col-12">
        <re-captcha formControlName="formRecaptcha"></re-captcha>
      </div>
    </div>
    <div class="margin-top-20">
      <button type="button" id="cancel-save" class="btn btn-secondary margin-right-10" (click)="previousState()">
        <i class="fa fa-ban"></i><span>Cancel</span>
      </button>
      <button type="submit" id="save-entity" [disabled]="manageAcadStudForm.invalid || isSaving" class="btn btn-primary">
        <i class="fa fa-save"></i><span>Save</span>
      </button>
    </div>
  </form>
</div>
