<div class="panel-container">
  <h2>
    <span>Subjects View</span>
  </h2>
  <hr>

  <div class="alert alert-warning" id="no-result" *ngIf="subjects?.length === 0">
    <span>No subjects found</span>
  </div>

  <div class="row" >
    <div class="col-md-4 mt-3" *ngFor="let subject of subjects; let i = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ subject.subjectName }} - {{ subject.type }}</h5>
          <a class="card-link" [routerLink]="['/university/managesubjects', subject.id, 'view']">View details</a>
        </div>
      </div>
    </div>
  </div>
</div>
