<div class="panel-container">
  <form [formGroup]="" (ngSubmit)="saveProject()">
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputProjectName">Certification Name</label>
        <input type="text" class="form-control" [ngClass]="manageCertificationsForm.get('projectName').invalid && (manageCertificationsForm.get('projectName').dirty || manageCertificationsForm.get('projectName').touched) && manageCertificationsForm.controls['projectName'].errors ? 'is-invalid' : ''"
               id="inputProjectName" placeholder="Project Name" formControlName="projectName">
        <div class="invalid-feedback" *ngIf="manageCertificationsForm.get('projectName').invalid && (manageCertificationsForm.get('projectName').dirty || manageCertificationsForm.get('projectName').touched)">
          <span *ngIf="manageCertificationsForm.controls['projectName'].hasError('required')">This field is required</span>
          <span *ngIf="manageCertificationsForm.controls['projectName'].hasError('maxlength')">Max length of this field is 50 characters</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputProjectAlias">Project Alias</label>
        <input type="text" class="form-control" [ngClass]="manageCertificationsForm.get('projectAlias').invalid && (manageCertificationsForm.get('projectAlias').dirty || manageCertificationsForm.get('projectAlias').touched) && manageCertificationsForm.controls['projectAlias'].errors ? 'is-invalid' : ''"
               id="inputProjectAlias" placeholder="Project Alias" formControlName="projectAlias">
        <div class="invalid-feedback" *ngIf="manageCertificationsForm.get('projectAlias').invalid && (manageCertificationsForm.get('projectAlias').dirty || manageCertificationsForm.get('projectAlias').touched)">
          <span *ngIf="manageCertificationsForm.controls['projectAlias'].hasError('required')">This field is required</span>
          <span *ngIf="manageCertificationsForm.controls['projectAlias'].hasError('maxlength')">Max length of this field is 10 characters</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputCompanyName">Organization Name</label>
        <input type="text" class="form-control" [ngClass]="manageCertificationsForm.get('companyName').invalid && (manageCertificationsForm.get('companyName').dirty || manageCertificationsForm.get('companyName').touched) && manageCertificationsForm.controls['companyName'].errors ? 'is-invalid' : ''"
               id="inputCompanyName" placeholder="Company Name" formControlName="companyName">
        <div class="invalid-feedback" *ngIf="manageCertificationsForm.get('companyName').invalid && (manageCertificationsForm.get('companyName').dirty || manageCertificationsForm.get('companyName').touched)">
          <span *ngIf="manageCertificationsForm.controls['companyName'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputCompanyAddress">Company Address</label>
        <input type="text" class="form-control" [ngClass]="manageCertificationsForm.get('companyAddress').invalid && (manageCertificationsForm.get('companyAddress').dirty || manageCertificationsForm.get('companyAddress').touched) && manageCertificationsForm.controls['companyAddress'].errors ? 'is-invalid' : ''"
               id="inputCompanyAddress" placeholder="Company Address" formControlName="companyAddress">
        <div class="invalid-feedback" *ngIf="manageCertificationsForm.get('companyAddress').invalid && (manageCertificationsForm.get('companyAddress').dirty || manageCertificationsForm.get('companyAddress').touched)">
          <span *ngIf="manageCertificationsForm.controls['companyAddress'].hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" [ngClass]="manageCertificationsForm.get('city').invalid && (manageCertificationsForm.get('city').dirty || manageCertificationsForm.get('city').touched) && manageCertificationsForm.controls['city'].errors ? 'is-invalid' : ''"
               id="inputCity" placeholder="City" formControlName="city">
        <div class="invalid-feedback" *ngIf="manageCertificationsForm.get('city').invalid && (manageCertificationsForm.get('city').dirty || manageCertificationsForm.get('city').touched)">
          <span *ngIf="manageCertificationsForm.controls['city'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-4 mb-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" [ngClass]="manageCertificationsForm.get('state').invalid && (manageCertificationsForm.get('state').dirty || manageCertificationsForm.get('state').touched) && manageCertificationsForm.controls['state'].errors ? 'is-invalid' : ''"
                formControlName="state">
          <option>Lisboa</option>
          <option>Amadora</option>
          <option>Mafra</option>
        </select>
        <div class="invalid-feedback" *ngIf="manageCertificationsForm.get('state').invalid && (manageCertificationsForm.get('state').dirty || manageCertificationsForm.get('state').touched)">
          <span *ngIf="manageCertificationsForm.controls['state'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-2 mb-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" [ngClass]="manageCertificationsForm.get('zip').invalid && (manageCertificationsForm.get('zip').dirty || manageCertificationsForm.get('zip').touched) && manageCertificationsForm.controls['zip'].errors ? 'is-invalid' : ''"
               id="inputZip" placeholder="XXXX-ZZZ" formControlName="zip">
        <div class="invalid-feedback" *ngIf="manageCertificationsForm.get('zip').invalid && (manageCertificationsForm.get('zip').dirty || manageCertificationsForm.get('zip').touched)">
          <span *ngIf="manageCertificationsForm.controls['zip'].hasError('required')">This field is required</span>
          <span *ngIf="manageCertificationsForm.controls['zip'].hasError('maxlength')">Max length of this field is 8 characters</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="personnelProjectCheckBox" formControlName="personnelProject">
        <label class="form-check-label" for="personnelProjectCheckBox">
          Personnel Project
        </label>
      </div>
    </div>
    <hr>
    <div class="row margin-top-10">
      <div class="col-12">
        <re-captcha formControlName="formRecaptcha"></re-captcha>
      </div>
    </div>
    <div class="margin-top-20">
      <button type="button" id="cancel-save" class="btn btn-secondary margin-right-10" (click)="previousState()">
        <i class="fa fa-ban"></i><span>Cancel</span>
      </button>
      <button type="submit" id="save-entity" [disabled]="manageCertificationsForm.invalid || isSaving" class="btn btn-primary">
        <i class="fa fa-save"></i><span>Save</span>
      </button>
    </div>
  </form>
</div>
