<div class="panel-container">
  <form [formGroup]="manageSubjectsForm" (ngSubmit)="saveSubject()">
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputSubjectName">Subject Name</label>
        <input type="text" class="form-control" id="inputSubjectName" formControlName="subjectName" placeholder="Subject Name"
               [ngClass]="isControlInvalid('subjectName') ? 'is-invalid' : '' ">
        <div class="invalid-feedback" *ngIf="isControlInvalidAndHasError('subjectName', 'required')">
          This field is required
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputSubjectType">Subject Name</label>
        <input type="text" class="form-control" id="inputSubjectType" formControlName="type" placeholder="Subject Type"
               [ngClass]="isControlInvalid('type') ? 'is-invalid' : '' ">
        <div class="invalid-feedback" *ngIf="isControlInvalidAndHasError('type', 'required')">
          This field is required
        </div>
      </div>
    </div>
    <hr>
    <h4 id="teachers-heading">
      <span>Subject Courses</span>
      <button type="button" id="new-teacher-btn" class="btn btn-primary float-right" (click)="addSubjectCourse()">
        <i class="fa fa-plus"></i>
        <span>
          Add new Course
        </span>
      </button>
    </h4>
    <br/>
    <br/>
    <div class="table-responsive" *ngIf="subjectCoursesControls.length > 0">
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th><span>ID</span></th>
          <th><span>Course Name</span></th>
          <th><span>Duration Years</span></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subjectCourse of subjectCoursesControls; index as i;" formArrayName="subjectCourses">
          <ng-container [formGroupName]="i">
            <td>{{ subjectCourse.get('id').value }}</td>
            <td>
              <input type="text" class="form-control" name="courseName-{{i}}" id="courseName-{{i}}" formControlName="courseName"/>
            </td>
            <td>
              <input type="text" class="form-control" name="durationYear-{{i}}" id="durationYear-{{i}}" formControlName="durationYear"/>
            </td>
            <td>
              <select class="form-control">
                <option value="new"></option>
                <option *ngFor="let course of allCourses" class="form-control" (click)="fillFieldsCourse(course,i)">{{course.courseName}}</option>
              </select>
            </td>
            <td class="text-right">
              <div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteSubjectCourse(i)">
                  <i class="fa fa-times"></i>
                  <span class="d-none d-md-inline"> Delete</span>
                </button>
              </div>
            </td>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="row margin-top-10">
      <div class="col-12">
        <re-captcha formControlName="formRecaptcha"></re-captcha>
      </div>
    </div>
    <div class="margin-top-20">
      <button type="button" id="cancel-save" class="btn btn-secondary margin-right-10" (click)="previousState()">
        <i class="fa fa-ban"></i><span>Cancel</span>
      </button>
      <button type="submit" id="save-entity" [disabled]="manageSubjectsForm.invalid || isSaving"
              class="btn btn-primary">
        <i class="fa fa-save"></i><span>Save</span>
      </button>
    </div>
  </form>
</div>
