<div class="panel-container">
  <form [formGroup]="manageCoursesForm" (ngSubmit)="saveCourse()">
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputCourseName">Course Name</label>
        <input type="text" class="form-control" id="inputcourseName" formControlName="courseName" placeholder="Course"
               [ngClass]="isControlInvalid('courseName') ? 'is-invalid' : '' ">
        <div class="invalid-feedback" *ngIf="isControlInvalidAndHasError('courseName', 'required')">
          This field is required
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3 mb-3">
        <label for="inputDurationYear">Duration</label>
        <div class="input-group">
          <input type="number" class="form-control" id="inputDurationYear" formControlName="durationYear"
                 placeholder="Duration"
                 [ngClass]="isControlInvalid('durationYear') ? 'is-invalid' : '' ">
          <div class="input-group-append">
            <span class="input-group-text">Year(s)</span>
          </div>
          <div class="invalid-feedback" *ngIf="isControlInvalidAndHasError('durationYear', 'required')">
            This field needs a number
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h4 id="teachers-heading">
      <span>Course Teachers</span>
      <button type="button" id="new-teacher-btn" class="btn btn-primary float-right" (click)="addCourseTeacher()">
        <i class="fa fa-plus"></i>
        <span>
          Add new Teacher
        </span>
      </button>
    </h4>
    <br/>
    <div class="table-responsive" *ngIf="courseTeachersControls.length > 0">
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th><span>ID</span></th>
          <th><span>Member Name</span></th>
          <th><span>Member Specialization</span></th>
          <th><span>Start Date</span></th>
          <th><span>End Date</span></th>
          <th><span>Choose Existing</span></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let courseTeacher of courseTeachersControls; index as i;" formArrayName="courseTeachers">
          <ng-container [formGroupName]="i">
            <td>{{ courseTeacher.get('id').value }}</td>
            <td>
              <input type="text" class="form-control" name="teacherName-{{i}}" id="teacherName-{{i}}"
                     formControlName="teacherName"/>
            </td>
            <td>
              <input type="text" class="form-control" name="teacherSpecialization-{{i}}"
                     id="teacherSpecialization-{{i}}" formControlName="teacherSpecialization"/>
            </td>

            <td>
              <input type="date" class="form-control" name="startDate-{{i}}" id="startDate-{{i}}"
                     formControlName="startDate"/>
            </td>
            <td>
              <input type="date" class="form-control" name="endDate-{{i}}" id="endDate-{{i}}"
                     formControlName="endDate"/>
            </td>
            <td>
              <select class="form-control">
                <option value="new"></option>
                <option *ngFor="let teacher of allTeachers" class="form-control" value="PM"
                        (click)="fillFieldsTeacher(teacher,i)">{{teacher.teacherName}}</option>
              </select>
            </td>
            <td class="text-right">
              <div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteCourseTeacher(i)">
                  <i class="fa fa-times"></i>
                  <span class="d-none d-md-inline"> Delete</span>
                </button>
              </div>
            </td>
          </ng-container>
        </tbody>
      </table>
    </div>

    <br/>

    <h4 id="subject-heading">
      <span>Course Subject</span>
      <button type="button" id="new-subject-btn" class="btn btn-primary float-right" (click)="addCourseSubject()">
        <i class="fa fa-plus"></i>
        <span>
          Add new Subject
        </span>
      </button>
    </h4>

    <br/>
    <div class="table-responsive" *ngIf="courseSubjectsControls.length > 0">
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th><span>ID</span></th>
          <th><span>Name</span></th>
          <th><span>Type</span></th>
          <th><span>Choose Existing</span></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let courseSubject of courseSubjectsControls; index as i;" formArrayName="courseSubjects">
          <ng-container [formGroupName]="i">
            <td>{{ courseSubject.get('id').value }}</td>
            <td>
              <input type="text" class="form-control" name="subjectName-{{i}}" id="subjectName-{{i}}"
                     formControlName="subjectName"/>
            </td>
            <td>
              <input type="text" class="form-control" name="type-{{i}}"
                     id="type-{{i}}" formControlName="type"/>
            </td>

            <td>
              <select class="form-control">
                <option value="new"></option>
                <option *ngFor="let subject of allSubjects" class="form-control" value="PM"
                        (click)="fillFieldsSubject(subject,i)">{{subject.subjectName}}</option>
              </select>
            </td>
            <td class="text-right">
              <div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteCourseSubject(i)">
                  <i class="fa fa-times"></i>
                  <span class="d-none d-md-inline"> Delete</span>
                </button>
              </div>
            </td>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="row margin-top-10">
      <div class="col-12">
        <re-captcha formControlName="formRecaptcha"></re-captcha>
      </div>
    </div>
    <div class="margin-top-20">
      <button type="button" id="cancel-save" class="btn btn-secondary margin-right-10" (click)="previousState()">
        <i class="fa fa-ban"></i><span>Cancel</span>
      </button>
      <button type="submit" id="save-entity" [disabled]="manageCoursesForm.invalid || isSaving"
              class="btn btn-primary">
        <i class="fa fa-save"></i><span>Save</span>
      </button>
    </div>
  </form>
</div>
