/* You can add global styles to this file, and also import other style files */
.panel-container {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}

i {
  margin-right: 10px;
}

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* ==========================================================================
Entity Details Page CSSS
========================================================================== */
.row.entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/*MARGINS AND PADDINGS GO HERE - USE THEM ELSEWHERE AND PLAGUES WILL FALL UPON YOU
All margin and padding values are available from -250 to 300 */

$pixels: 300;

@mixin margin-list {
  @for $i from -250 through $pixels {

    .margin-top-#{$i} {
      margin-top: #{$i}px !important;
    }

    .margin-right-#{$i} {
      margin-right: #{$i}px !important;
    }

    .margin-bottom-#{$i} {
      margin-bottom: #{$i}px !important;
    }

    .margin-left-#{$i} {
      margin-left: #{$i}px !important;
    }

    .margin-#{$i} {
      margin: #{$i}px !important;
    }

    .padding-top-#{$i} {
      padding-top: #{$i}px !important;
    }

    .padding-right-#{$i} {
      padding-right: #{$i}px !important;
    }

    .padding-bottom-#{$i} {
      padding-bottom: #{$i}px !important;
    }

    .padding-left-#{$i} {
      padding-left: #{$i}px !important;
    }

    .padding-#{$i} {
      padding: #{$i}px !important;
    }
  }
}

@include margin-list;
